src/main/resources/UNICA_API_REST_mms_types_v1_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- September 13, 2011 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.telefonica.com/schemas/UNICA/REST/mms/v1/" xmlns:uctr="http://www.telefonica.com/schemas/UNICA/REST/common/v1" targetNamespace="http://www.telefonica.com/schemas/UNICA/REST/mms/v1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.telefonica.com/schemas/UNICA/REST/common/v1" schemaLocation="UNICA_API_REST_common_types_v1_0.xsd"/>
    <xsd:annotation>
        <xsd:documentation>The following are the resources to be included in HTTP requests or responses</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="message" type="tns:MessageType"/>
    <xsd:element name="messageDeliveryStatus" type="tns:MessageDeliveryStatusType"/>
    <xsd:element name="receivedMessages" type="tns:ReceivedMessagesType"/>
    <xsd:element name="deliveryStatusUpdate" type="tns:DeliveryStatusUpdateType"/>
    <xsd:element name="deliveryReceiptNotification" type="tns:DeliveryReceiptNotificationType"/>
    <xsd:element name="receivedMessageAsync" type="tns:ReceivedMessageAsyncType"/>
    <xsd:element name="messageNotification" type="tns:MessageNotificationType"/>
    <xsd:annotation>
        <xsd:documentation>The following are the types defined for each used resource</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="MessageType">
        <xsd:sequence>
            <xsd:element name="address" type="uctr:UserIdType" maxOccurs="unbounded"/>
            <xsd:element name="receiptRequest" type="uctr:SimpleReferenceType" minOccurs="0"/>
            <xsd:element name="senderName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="originAddress" type="uctr:UserIdType"/>
            <xsd:element name="subject" type="xsd:string" minOccurs="0"/>
            <xsd:element name="priority" minOccurs="0">
                <xsd:simpleType>
                    <xsd:union memberTypes="tns:MessagePriorityType xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
			
			<xsd:element name="locationAdditionalInfo" type="tns:LocationInfoType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
	
	
	<xsd:complexType name="LocationInfoType">
		<xsd:sequence>
			<xsd:element name="reportStatus" type="tns:RetrievalStatusType"/>
			<xsd:element name="coordinates" type="tns:CoordinatesType"/>
			<xsd:element name="altitude" type="xsd:float" minOccurs="0"/>
			<xsd:element name="accuracy" type="xsd:int" minOccurs="0"/>
			<xsd:element name="timestamp" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>	

<xsd:simpleType name="RetrievalStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Retrieved" >
				<xsd:annotation>
					<xsd:documentation>
    					Item retrieved successfully
    				</xsd:documentation>
				</xsd:annotation>	
			</xsd:enumeration>	
			<xsd:enumeration value="NonAuthorized" >
				<xsd:annotation>
					<xsd:documentation>
    					Location non authorized by the sender
    				</xsd:documentation>
				</xsd:annotation>			
			</xsd:enumeration>
			<xsd:enumeration value="NonRegistered" >
				<xsd:annotation>
					<xsd:documentation>
    					User not registered into gSDP
    				</xsd:documentation>
				</xsd:annotation>			
			</xsd:enumeration>
			<xsd:enumeration value="LocationNonAvailable" >
				<xsd:annotation>
					<xsd:documentation>
    					Location capability is not supported in the OB
    				</xsd:documentation>
				</xsd:annotation>			
			</xsd:enumeration>
			<xsd:enumeration value="Error" >
				<xsd:annotation>
					<xsd:documentation>
    					Error retrieving item.
    				</xsd:documentation>
				</xsd:annotation>			
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>	
	
<xsd:complexType name="CoordinatesType">
		<xsd:sequence>
				<xsd:element name="latitude" type="xsd:float"/>
				<xsd:element name="longitude" type="xsd:float"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="MessageDeliveryStatusType">
        <xsd:sequence>
            <xsd:element name="messageDeliveryStatus" type="tns:DeliveryInformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReceivedMessagesType">
        <xsd:sequence>
            <xsd:element name="receivedMessages" type="tns:MessageReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DeliveryStatusUpdateType">
        <xsd:sequence>
            <xsd:element name="correlator" type="xsd:string"/>
            <xsd:element name="deliveryStatus" type="tns:DeliveryInformationType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="DeliveryReceiptNotificationType">
        <xsd:sequence>
            <xsd:element name="reference" type="uctr:SimpleReferenceType"/>
            <xsd:element name="originAddress" type="uctr:UserIdType" maxOccurs="unbounded"/>
            <xsd:element name="filterCriteria" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReceivedMessageAsyncType">
        <xsd:sequence>
            <xsd:element name="correlator" type="xsd:string"/>
            <xsd:element name="message" type="tns:MessageReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageNotificationType">
        <xsd:sequence>
            <xsd:element name="reference" type="uctr:SimpleReferenceType"/>
            <xsd:element name="destinationAddress" type="uctr:UserIdType" maxOccurs="unbounded"/>
            <xsd:element name="criteria" type="xsd:string" minOccurs="0"/>
            <xsd:element name="useAttachmentURLs" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>The following are the rest of types used in the API</xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexType name="MessageReferenceType">
        <xsd:sequence>
            <xsd:element name="messageIdentifier" type="xsd:string" minOccurs="0"/>
            <xsd:element name="destinationAddress" type="uctr:UserIdType"/>
            <xsd:element name="originAddress" type="uctr:UserIdType"/>
            <xsd:element name="subject" type="xsd:string" minOccurs="0"/>
            <xsd:element name="priority" minOccurs="0">
                <xsd:simpleType>
                    <xsd:union memberTypes="tns:MessagePriorityType xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="attachmentURL" type="tns:MessageURIType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="locationAdditionalInfo" type="tns:LocationInfoType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
        <xsd:complexType name="MessageURIType">
        <xsd:sequence>
            <xsd:element name="href" type="xsd:anyURI"/>
            <xsd:element name="contentType" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="MessagePriorityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Default">
                <xsd:annotation>
                    <xsd:documentation>
    					Default message priority
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Low">
                <xsd:annotation>
                    <xsd:documentation>
    					Low message priority
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Normal">
                <xsd:annotation>
                    <xsd:documentation>
    					Normal message priority
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="High">
                <xsd:annotation>
                    <xsd:documentation>
    					High message priority
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DeliveryStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DeliveredToNetwork">
                <xsd:annotation>
                    <xsd:documentation>
    					Successful delivery to network
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DeliveryUncertain">
                <xsd:annotation>
                    <xsd:documentation>
    					Delivery Status unknown: e.g. because it was handed off to another network.
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DeliveryImpossible">
                <xsd:annotation>
                    <xsd:documentation>
    					Unsuccessful delivery; the message could not be delivered before it expired.
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MessageWaiting">
                <xsd:annotation>
                    <xsd:documentation>
    					The message is still queued for delivery. This is a temporary state, pending transition to one of the preceding states.
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DeliveredToTerminal">
                <xsd:annotation>
                    <xsd:documentation>
    					Successful delivered to Terminal
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DeliveryNotificationNotSupported">
                <xsd:annotation>
                    <xsd:documentation>
    					Unable to provide delivery receipt notification. NotifyMessageDeliveryReceipt function will provide “DeliveryNotificationNotSupported” to indicate that delivery receipt for the specified address in a SendMessageRequest is not supported. 
    				</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
   
    <xsd:complexType name="DeliveryInformationType">
        <xsd:sequence>
            <xsd:element name="address" type="uctr:UserIdType"/>
            <xsd:element name="deliveryStatus">
                <xsd:simpleType>
                    <xsd:union memberTypes="tns:DeliveryStatusType xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    
</xsd:schema>
